html
{
    background-color: black;
    font-family: "Verdana", "Helvetica", sans-serif;
    color: #FFFFFF;
    font-size: 14pt;
}

body
{
    width: 90%;
    margin: auto;
    background-color: #008b54;
    padding: 30px;
    border: 4px solid #00796b;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1 {
    color: black;
    font-family: Cambria, Times, serif;
    font-weight: bold;
    text-align: left;
}

h2
{
    color: black;
}

h3
{
    color: black;
    font-weight: bold;
    font-size: 2em;
}

.header
{
    padding: 1%;
    font-size: 2vw;
    font-family: "Franklin Gothic Medium", "Verdana", sans-serif;
    color: white;
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.4);
    margin: auto;
    width: 90%;
}

.subtitle
{
    background-color: #00796b;
    text-align: center;
    font-size: 16pt;
    border: 0.3em solid black;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
}

.floating_header
{
    padding: 2%;
    font-size: 4vw;
    font-family: "Franklin Gothic Medium", "Verdana", sans-serif;
    color: white;
    border-radius: 10px;
    margin: auto;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_container
{
    position: relative;
    text-align: center;
    margin: auto;
    width: 100%
}

.profile_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #414040;
    border: 4px solid #00796b;
    border-radius: 1em;
  max-width: 30em;
  margin: auto;
  text-align: center;
}

.profile-info
{
    padding: 2%;
    font-size: 1.3em;
}

.profile_role {
  color: #6db742;
  font-size: 1.5em;
}

.profile_button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 0.2em;
  color: white;
  background-color: #00796b;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 2em;
}

a {
  color: white;
}

.profile_button:hover, a:hover {
  opacity: 0.7;
}

li::marker
{
    color: #6db742;
}

table
{
    margin: auto;
    width: 100%;
    table-layout: fixed;
    vertical-align: top;
}

td
{
    vertical-align: top;
}

.td_profile
{
    width: 300px;
}

.td_profile_text
{
    width: 100%;
    vertical-align: top;
    padding: 20px;
}

.grid_container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid_item
{
    width: 30%;
    height: 100%;
    margin: 5px 10px;
}

@media (max-width:400px){
    .grid_container {
        flex-direction: column;
    }
}